
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root{
    --main-font-family: 'Poppins', sans-serif;
    --gray: #34495e;
    --darkgray: #2c3e50;
}
body{
    font-family: var(--main-font-family);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #000000;
}

li{
    list-style: none;
}

.justify-between{
    display: flex;
    justify-content: space-between;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.justify-end{
    display: flex;
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}


/*****************************/
/********login*************/
/*****************************/
.error{
    background-color: #e28787;
    color: #fcfcfc;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 1em;
}
.success{
    background-color: rgb(135, 226, 170);
    color: #fcfcfc;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 1em;
    width: 100%;
}
.logForm-container{
    width: 100%;
    min-height: 100vh;
    
    background-color: #2a333c;
}
.logForm-container img{
    width: 100%;
    height: 250px;
}
.logForm{
    width: 70%;
    background-color: #ffffff;
    min-height: 50vh;
    gap: 5em;
    padding: 20px;
    border-radius: 10px;
}
.logForm h1{
    color: #3a5a40;
}
.logForm form{
    width: 100%;
    display: block;
}
.logForm form h1{
    margin-bottom: 1em;
}
.logForm form div{
    position: relative;
    width: 100%;
    margin-bottom: 2em;
}
.logForm form span{
    position: absolute;
    background-color: #ffffff;
    padding: 0 5px;
    z-index: 1;
    top: -10px;
    left: 15px;
}
.logForm form input{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 1em;
    font-family: var(--main-font-family);
    border: 2px solid #b4b3b3;
    border-radius: 5px;
    z-index: 2;
    outline: none;
}
.logForm form button{
    font-family: var(--main-font-family);
    padding: 10px 15px;
    width: 40%;
    border: none;
    background-color: #0260ee;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.logForm form button:hover{
    background-color: #054cb8;
}

/*****************************/
/********dashboard************/
/*****************************/

.container{
    background-color: #2a333c;
    width: 100%;
    min-height: 100vh;
}

header{
    background-color: #ffffff;
    font-size: 1em;
    padding: 20px;
}
header nav img{
    width: 7%;
}
header ul{
    gap: 2em;
}
header ul li{
    font-weight: 700;
}


select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
    font-family: var(--main-font-family);
  }

  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;

  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
    color: #ffffff;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  
.main-body{
    background-color: #ffffff;
    width: 90%;
    min-height: 75vh;
    margin: 2em auto 0;
    padding: 10px;
    border-radius: 10px;
}
.main-body h1{
    text-align: center;
    margin-bottom: .5em;
    font-size: 2em;
    color: #3a5a40;
}
#applicants {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-family: 'Poppins', sans-serif;
}

#applicants tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.cultural-night h2{
    margin: 1em 0;
}

table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
  
#applicants td, #applicants th {
    border: 1px solid #bebebe;
    padding: 8px;
}
#applicants td{
    padding: 15px 10px;
}
#applicants tr:nth-child(even){
    background-color: var(--secondary-font-color);
}
  
#applicants tr:hover {
    background-color: var(--first-font-color);
}
.table-buttons button{
    background-color: #054cb8;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    font-family: var(--main-font-family);
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer;
}
.table-handler{
    margin-bottom: 1em;
}
/***********************************/
/***************MODAL***************/
/***********************************/
.modal{
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 25px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
  
  /* Modal Content */
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: left;
}
.modal-content h1{
    color: #2a333c;
    font-size: 2em;
}
.form-handler div{
    margin-bottom: 1em;
}

.add-form div label{
    font-weight: 700;
    width: 100%;
}
.add-form input{   
    width: 100%;
    padding: 10px 15px;
    font-family: var(--main-font-family);
}
.add-form input:focus{
    outline: none;
}

  /* The Close Button */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.select-handler{
    width: 100%;
    gap: 2em;
}
.select-handler div{
    width: 100%;
    margin-bottom: 0;
}
.add-form .select {
    width: 100%;
    height: 3em;
    overflow: hidden;
    cursor: pointer;

}
.logout-button button{
    margin: 1em 0 0 2em;
    background-color: #0260ee;
    width: 10%;
    padding: 10px 20px;
    text-align: center;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button button:hover{
    background-color: #054cb8;
} 



/*************************/
/*******Admin side*********/
/*************************/

.admin-ul li a{
    background-color: var(--darkgray);
    color: #ffffff;
    padding: 10px 15px;
}
.admin-ul li a:hover{
    background-color: #2a333c;
}


